<html>
    <head>
        <title>{{ title }}</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4 text-center">Our Products</h1>
            <hr class="my-4">
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in products %}
            <div class="col mb-4">
              <div class="card">
                <img class="card-img-top" src="/static/images/{{ product.id }}.png">
                <div class="card-body">
                  <h5 class="card-title text-center">{{ product.title }}</h5>
                  <p class="card-text text-center"><span>$</span>{{ product.price }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div> 
    </body>
</html>